body{
    background-color: rgb(3, 60, 165);
    text-align: center;
    margin: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer{
    font-size: 60px;
    border: 50px;
}

#titulo{
    margin: 0;
    color: rgb(0, 174, 255);

}

#titulo1{
    color: black;
    margin: 3px;
}

#titulo2{
    margin: 0;
    font-size: 50px;
}

#login{
font-size: 40px;
-webkit-text-fill-color: aliceblue;
text-decoration: none;
}