body{
    background-color: rgb(3, 60, 165);
    text-align: center;
    margin: 50px;
}

footer{
    font-size: 40px;
  
}

h1{
    -webkit-text-fill-color: rgb(0, 174, 255);
}

#login{
font-size: 40px;
-webkit-text-fill-color: aliceblue;
padding: 150px;
}