body{
    background-color: rgb(2, 2, 170);
    text-align: center;
    margin: 50px;
}
<<<<<<< HEAD
footer{
    font-size: 40px;
  
}

#login{
    background-color: black;
=======
footer{text-size-adjust: 15px;
    
>>>>>>> 4967bd27b3a53c85f7820f786ea2a2fc327bd1b5
}