nav img{
    width: 30px;
    height: 20px;
}
body{
    background-color: blue;
}
.centro{
    background-color: rgb(0, 31, 209);
}

.bloco_container{
    display: flex;
}
.bloco{
    background-color: blue;
}