body{
    text-align: center;
    margin: 100px;
}

.box_txt{
    background-color: blue;
    border-radius: 20px;
}

.logo_login{
    width: 200px;
    height: 170px;
}

.inputs{
    display: flex;
    align-items: center;
    text-align: center;
}
.input_elements{
    margin: 30px;
}

#box{
    margin-left: 650px;
}
#button_access{
    margin-left: 165px;
}

#input1{
    background-color: blue;
    border-radius: 20px;
}

#input2{
    background-color: blue;
    border-radius: 20px;
}
